/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg)translateY(250px);    }
    to   { -webkit-transform: rotateY(-360deg)translateY(250px); }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg)translateY(250px);
        -ms-transform: rotateY(0deg)translateY(250px);
        transform: rotateY(0deg)translateY(250px);
    }
    to {
        -moz-transform: rotateY(-360deg)translateY(250px);
        -ms-transform: rotateY(-360deg)translateY(250px);
        transform: rotateY(-360deg)translateY(250px);
    }
}
#logo {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-duration: 0.2s;
    -webkit-transform-origin:400px 0 0 !important;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-duration: 0.2s;
    -transform-origin:400px 0 0 !important;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #fff;
}

#logo_bg {
    background-color: #000;
}
